@import "@/assets/css/grid.css";

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --menu_bg: #364346;
  --menu_border: 1px solid #6d6d6d;
  --text_color: #fff; 
  --color_blue: #17c7f6; 
  --color_green: green; 
  --transition: 0.3s linear; 
  --head_bg: #293538; 
  --bg_input: #2c393c;
  --color_input: #b1b8ba;
}

body,
html {
  height: 100%;
}

body {
  background: #000000da;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

canvas {
  height: 100%;
  width: 100%;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu_section {
  /* bottom: 0; */
  position: relative;
  height: 100%;
  background-color: var(--menu_bg);
  transform: translateY(calc(100% - 32px));
  transition: transform var(--transition);
  z-index: 2;
}
.menu_section.active {
  transform: translateY(0);
}
.menu_left{
  width: auto;
  /* left: 45px; */
  border-right: var(--menu_border);
  min-width: 240px;
  max-width: 440px;
}
.menu_right{
  width: 340px;
  /* right: 0; */
  border-left: var(--menu_border);
  overflow-y: auto;
  overflow-x: hidden;
}
.menu_footer{
  max-height: 300px;
  width: calc(100% - 625px);
  width: auto;
  flex-grow: 2;
  /* left: 285px; */
}
.menu_min{
  position: relative;
  background-color: var(--menu_bg);
  width: 45px;
  height: 100%;
  border-right: var(--menu_border);
  z-index: 2;
}
.menu_min a {
  padding: 12px;
  width: 45px;
  height: 45px;
  color: var(--color_blue);
}
.menu_min a:hover {
  background-color: #3a7fbd;
}

.svg_icon {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.menu_head {
  background-color: var(--head_bg);
  padding: 5px;
}
.menu_head h3{
  font-weight: 400;
  font-size: 16px;
  padding-left: 7px;
}
.btn_menu {
  width: 20px;
  height: 20px;
  color: #fff;
  margin-right: 2px;
}
.btn_menu:hover {
  color: var(--color_blue);
}
.btn_menu .svg_icon {
  transition: transform var(--transition);
}
.menu_section:not(.active) .btn_menu .svg_icon {
  transform: rotate(180deg);
}

input,
select,
option,
textarea {
  display: block;
  width: 100%;
  padding: 0 8px;
  line-height: 1.5;
  height: 20px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background-color: var(--bg_input);
  color: var(--color_input);
}
textarea {
  height: auto;
  max-width: 100%;
  max-height: 350px;
}

input.poisk_us{
  height: 30px;
  padding: 0 10px;
}

.color_green { color: var(--color_green); }
.color_blue { color: var(--color_blue); }

/* tree */
.tree_div {
  background-color: rgba(0, 0, 0, 0.1);
}
ul.tree {
  padding: 10px;
  user-select: none;
  --tree_color: green;
}
ul.tree li {
  padding: 2px;
  position: relative;
}
.tree__item{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid green; */
  padding: 2px 2px 2px 14px;
}
ul.tree li a {
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  padding: 0px 0 0px;
  min-width: 70px;
  max-width: 280px;
  overflow: hidden;
}
ul.tree li a:hover {
  opacity: 0.8;
}
.tree__btn {
  width: 12px;
  height: 12px;
  line-height: 10px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: -3px;
  z-index: 2;
  color: #999999d4;
}
.tree__btn:hover{
  opacity: 0.8;
}
.tree__btn .svg_icon{
  transform: rotate(90deg);
  transition: transform var(--transition);
}
li.active > div > .tree__btn .svg_icon {
  transform: rotate(180deg);
}
li.active > div > .tree__btn .use_trglF,
li:not(.active) > div > .tree__btn .use_trgl {display: none;}
.tree__ico {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  margin-right: 5px;
  top: -3px;
}
/* .tree__ico::before,
.tree__ico::after {
  content: '';
  position: absolute;
  z-index: 1;
}
.tree__ico::before {
  top: -3px;
  left: -9px;
  width: 7px;
  height: 12px;
  border-left: 1px dotted var(--tree_color);
  border-bottom: 1px dotted var(--tree_color);
}
.tree__ico::after {
  top: 10px;
  left: -9px;
  width: 0px;
  height: 9px;
  border-left: 1px dotted var(--tree_color);
}
.tree__btn + .tree__ico::before,
.tree__btn + .tree__ico::after{
  display: none;
}
ul.tree_sub > li:last-child > .tree__ico::after {
  display: none;
}
ul.tree_sub:not(:last-child) > li:last-child > .tree__ico::after {
  display: block;
}
li.li_line {
  position: relative;
}
li:not(:last-child).li_line::before {
  content: '';
  position: absolute;
  width: 0px;
  top: 22px;
  left: 2.5px;
  height: calc(100% - 24px);
  border-left: 1px dotted var(--tree_color);
} */


ul.tree_sub {
  padding-left: 10px;
  overflow: hidden;
  transition: height var(--transition);
}
li:not(.active) > ul.tree_sub {
  height: 0px;
}
li.active > ul.tree_sub {
  height: auto;
}