@import "@/assets/css/grid.css";

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --menu_bg: #364346;
  --menu_border: 1px solid #6d6d6d;
  --text_color: #fff; 
  --color_blue: #17c7f6; 
  --color_green: green; 
  --color_red: red; 
  --transition_300: 0.3s linear; 
  --transition_150: 0.15s linear; 
  --head_bg: #293538; 
  --bg_input: #2c393c;
  --color_input: #b1b8ba;
}

body,
html {
  height: 100%;
}

body {
  background: #000000da;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

canvas {
  height: 100%;
  width: 100%;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu_section {
  /* bottom: 0; */
  position: relative;
  height: 100%;
  background-color: var(--menu_bg);
  transform: translateY(calc(100% - 32px));
  transition: transform var(--transition_300);
  z-index: 2;
}
.menu_section.active {
  transform: translateY(0);
}
.menu_left{
  width: auto;
  border-right: var(--menu_border);
  min-width: 240px;
  max-width: 440px;
  /* overflow-x: hidden; */
}
.menu_right{
  width: 340px;
  /* right: 0; */
  border-left: var(--menu_border);
  overflow-y: auto;
  overflow-x: hidden;
}
.menu_footer{
  max-height: 300px;
  width: calc(100% - 625px);
  width: auto;
  flex-grow: 2;
  /* left: 285px; */
}
.menu_min{
  position: relative;
  background-color: var(--menu_bg);
  width: 45px;
  height: 100%;
  border-right: var(--menu_border);
  z-index: 2;
}
.menu_min a {
  padding: 12px;
  width: 45px;
  height: 45px;
  color: var(--color_blue);
}
.menu_min a:hover {
  background-color: #3a7fbd;
}

.svg_icon {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.menu_head {
  background-color: var(--head_bg);
  padding: 5px;
}
.menu_head h3{
  font-weight: 400;
  font-size: 16px;
  padding-left: 7px;
}
.btn_menu {
  width: 20px;
  height: 20px;
  color: #fff;
  margin-right: 2px;
}
.btn_menu:hover {
  color: var(--color_blue);
}
.btn_menu .svg_icon {
  transition: transform var(--transition_300);
}
.menu_section:not(.active) .btn_menu .svg_icon {
  transform: rotate(180deg);
}

input,
select,
option,
textarea {
  display: block;
  width: 100%;
  padding: 0 8px;
  line-height: 1.5;
  height: 20px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background-color: var(--bg_input);
  color: var(--color_input);
}
textarea {
  height: auto;
  max-width: 100%;
  max-height: 350px;
}

input.poisk_us{
  height: 30px;
  padding: 0 10px;
}

.color_green { color: var(--color_green); }
.color_blue { color: var(--color_blue); }

/* tree */
.tree_div {
  background-color: rgba(0, 0, 0, 0.1);
}
ul.tree {
  padding: 10px;
  user-select: none;
  --tree_color: green;
}
ul.tree li {
  line-height: 20px;
  min-height: 25px;
  position: relative;
  /* border-top: 1px solid transparent; */
  /* border-bottom: 1px solid transparent; */
  /* background-color: #2e7383; */
}
a.tree__item{
  position: static;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
  padding: 1px 2px;
  border-radius: 2px;
  margin-left: 16px;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  width: auto;
}
a.tree__item:hover{
  opacity: 0.7;
}
ul.tree_sub {
  padding-left: 10px;
  overflow: hidden;
  transition: height var(--transition_150);
  /* border-top: 3px solid gray; */
  /* border-top: 3px solid transparent; */
}
li:not(.active) > ul.tree_sub {
  height: 0px;
}
li.active > ul.tree_sub {
  height: auto;
}
ul.tree li.droppable {
  /* background: #cccccc81; */
  /* border-bottom-color: #cccccc81; */
}
a.tree__item.droppable {
  color: red;
}
li.droppable > .tree__item {
  text-decoration: underline;
}
.tree__item_name {
  white-space: nowrap;
  min-width: 28px;
  max-width: 280px;
  overflow: hidden;
}
.tree__btn {
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  color: #999999d4;
}
.tree__btn:hover{
  opacity: 0.8;
}
.tree__btn .svg_icon{
  transform: rotate(90deg);
  transition: transform var(--transition_150);
}
li.active > .tree__btn .svg_icon {
  transform: rotate(180deg);
}
li.active > .tree__btn .use_trglF,
li:not(.active) > .tree__btn .use_trgl {display: none;}

.tree__ico {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  margin-right: 5px;
  top: 0px;
}

.drag_and_drop{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  z-index: 2;
  /* border: 1px solid red; */
  /* padding: 3px; */
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.drag_and_drop.pos {
  visibility: visible;
}
.drag_and_drop__status{
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  color: var(--color_red);
}
.drag_and_drop.active .drag_and_drop__status{
  color: var(--color_green);
}
.drag_and_drop.active .use_close,
.drag_and_drop:not(.active) .use_check {display: none;}